In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_csv("Smartphone.csv")

In [55]:
df.head()

,Brand,Name,MRP,Discount_Price,Reviews,Discount_percentage
0,Apple,"APPLE iPhone 12 (Blue, 64 GB)","₹49,900","₹40,999",4.6,17% off
1,Apple,"APPLE iPhone 12 (Black, 64 GB)","₹49,900","₹40,999",4.6,17% off
2,Apple,"APPLE iPhone 12 (Blue, 128 GB)","₹54,900","₹46,999",4.6,14% off
3,Apple,"APPLE iPhone 14 (Blue, 128 GB)","₹69,900","₹60,999",4.6,12% off
4,Apple,"APPLE iPhone 12 (White, 64 GB)","₹49,900","₹41,999",4.6,15% off

In [56]:
df.tail()

,Brand,Name,MRP,Discount_Price,Reviews,Discount_percentage
131,Google,"Google Pixel 8 (Hazel, 128 GB)","₹43,999","₹75,999",4.3,13% off
132,Google,"Google Pixel 7 Pro (Hazel, 128 GB)","₹43,999","₹60,999",4.3,36% off
133,Google,"Google Pixel 7 Pro (Obsidian, 128 GB)","₹22,999","₹60,999",4.3,6% off
134,Google,"Google Pixel 6a (Charcoal, 128 GB)","₹24,999","₹27,999",4.3,9% off
135,Google,"Google Pixel 7a (Coral, 128 GB)","₹21,999","₹37,999",4.1,22% off

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                136 non-null    object
 1   Name                 136 non-null    object
 2   MRP                  136 non-null    object
 3   Discount_Price       136 non-null    object
 4   Reviews              136 non-null    float64
 5   Discount_percentage  136 non-null    object
dtypes: float64(1), object(5)
memory usage: 6.5+ KB

In [58]:
df["MRP"] = df["MRP"].str.replace("₹","")
df["MRP"] = df["MRP"].str.replace(",","")
df["Discount_Price"] = df["Discount_Price"].str.replace("₹","")
df["Discount_Price"] = df["Discount_Price"].str.replace(",","")

In [59]:
df.head()

,Brand,Name,MRP,Discount_Price,Reviews,Discount_percentage
0,Apple,"APPLE iPhone 12 (Blue, 64 GB)",49900,40999,4.6,17% off
1,Apple,"APPLE iPhone 12 (Black, 64 GB)",49900,40999,4.6,17% off
2,Apple,"APPLE iPhone 12 (Blue, 128 GB)",54900,46999,4.6,14% off
3,Apple,"APPLE iPhone 14 (Blue, 128 GB)",69900,60999,4.6,12% off
4,Apple,"APPLE iPhone 12 (White, 64 GB)",49900,41999,4.6,15% off

In [60]:
pd.to_numeric(df["MRP"])
pd.to_numeric(df["Discount_Price"])

0      40999
1      40999
2      46999
3      60999
4      41999
       ...
131    75999
132    60999
133    60999
134    27999
135    37999
Name: Discount_Price, Length: 136, dtype: int64